body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

a {
    color: #666699;
}

a:hover, a:active {
    color: #fff;
}

a:visited {
    color: #778899;
}

.display-none {
    display: none;
}

.container {
    display: flex;
    height: 100vh;
    flex-flow: nowrap row;
}

.panel-container {
    background: url('./assets/panel-violin-resize.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 30vw;
    min-width: 460px;
}

.panel-subcontainer {
    color: #fff;
    padding: 5px;
    text-shadow: 2px 2px 4px #000;
}

.panel-header {
    height: 9em;
    padding: 5px;
}

.panel-title {
    font-family: 'Italianno', cursive;
    font-size: 5em;
    margin: 0 auto;
}

.panel-subtitle {
    margin: 0 auto;
}

.main-container {
    background-color: silver;
    width: 70vw;
}

.main-subcontainer {
}

.main-header {
    border-bottom:2px solid #000; 
}

.main-org {
    padding: 5px;
}

.main-body {
    padding: 5px;
}

.main-org > form {
    padding: 5px;
}

#org-names {
    background-color: silver;
    border: 2px solid darkgray;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 0.5em;
}

@media only screen and (max-width: 1080px) {
    .panel-container {
        max-width: 24vw;
        min-width: 368px;
    }

    .panel-title {
        font-size: 4em;
    }
}