body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    overflow: auto;
}

a {
    color: #666699;
}

a:hover, a:active {
    color: #fff;
}

a:visited {
    color: #778899;
}

.nav-submit {
    background-color: silver;
    border: 2px solid #fff;
    border-radius: 4px;
    box-shadow: 3px 5px 4px #000;
    font-size: 1em;
    margin: 5px;
    padding: 0.5em;
    width: 90%;
}

.nav-submit:hover {
    background-color: grey;
}

.display-none {
    display: none;
}

.script-title {
    color: #000;
    font-family: 'Italianno', cursive; 
    font-size: 3em;
    margin: 0;
    text-shadow: 2px 2px 4px #666699;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-flow: nowrap row;
}

.panel-container {
    background: url('./assets/panel-violin-resize.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 30vw;
    min-width: 460px;
}

.panel-subcontainer {
    color: #fff;
    padding: 5px;
    text-shadow: 2px 2px 4px #000;
}

.panel-header {
    height: 9em;
    padding: 5px;
}

.panel-title {
    font-family: 'Italianno', cursive;
    font-size: 5em;
    margin: 0 auto;
}

.panel-subtitle {
    margin: 0 auto;
}

.main-container {
    background-color: silver;
    width: 70vw;
}

.main-header {
    border-bottom:2px solid #000;
    padding: 10px;
}

.detail-container-item {
    border: 2px solid darkgray;
    margin: 4px;
    padding: 4px;
}

.detail-container-item > h3 {
    margin: 4px;
}

.main-body-button {
    background-color: silver;
    border: 2px solid darkgray;
    border-radius: 4px;
    font-size: 0.75em;
    padding: 0.5em;
}

.main-body-button:hover {
    background-color: grey;
}

.main-body-button-delete {
    margin: 5px;
    padding: 2px;
}

#org-names {
    background-color: silver;
    border: 2px solid darkgray;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 0.5em;
}

#main-body {
    padding: 10px;
}

#perf-add-comp {
    border: 2px solid darkgray;
    border-radius: 4px;
    font-size: 0.75em;
    margin-top: 5px;
    padding: 0.5em;
}

@media only screen and (max-width: 1080px) {
    .panel-container {
        max-width: 24vw;
        min-width: 368px;
    }

    .panel-title {
        font-size: 4em;
    }
}